[data-theme="dark"] {
  background-color: #121212 !important;
  color: #ccc;
}

[data-theme="dark"] a.text-dark {
  color: #ccc!important;
}

[data-theme="dark"] .form-control {
	color: #EEE;
	background-color: #777;
}

[data-theme="dark"] a.text-dark:hover {
  color: #aaa!important;
}

[data-theme="dark"] .card {
  background-color: #222!important;
}

[data-theme="dark"] .ck-editor__main {
  color: #000;
}

[data-theme="dark"] .bg-light, [data-theme="dark"] .navbar-nav .dropdown-menu {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #121212 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #ccc !important;
}

[data-theme="dark"] .dropdown-item {
	color: #CCC !important;
}

[data-theme="dark"] .navbar-light a, [data-theme="dark"] .navbar-light .navbar-toggler {
  color: #ccc !important;
}

[data-theme="dark"] .modal-content {
  background-color: #232323 !important;
}

[data-theme="dark"] .table td, [data-theme="dark"] .table th {
	border-top: 1px solid #32383e;
}

[data-theme="dark"] .table-bordered, [data-theme="dark"] .table-bordered td, [data-theme="dark"] .table-bordered th {
	border: 1px solid #32383e;
}

[data-theme="dark"] .dataTables_wrapper .dataTables_length, [data-theme="dark"] .dataTables_wrapper .dataTables_filter, [data-theme="dark"] .dataTables_wrapper .dataTables_info, [data-theme="dark"] .dataTables_wrapper .dataTables_processing, [data-theme="dark"] .dataTables_wrapper .dataTables_paginate{
  color: #ccc !important;
}